[submodule "bukkit"]
	path = bukkit
	url = https://github.com/UraniumMC/KCauldron-Bukkit
[submodule "forge"]
	path = forge
	url = https://github.com/MinecraftForge/MinecraftForge
	branch = 1.7.10
[submodule "UraniumPlus"]
	path = UraniumPlus
	url = https://github.com/UraniumMC/KCauldron-Bukkit
