[submodule "bukkit"]
	path = bukkit
	url = https://git.xjboss.net/KC-RELOADED/KCauldron-Bukkit.git
[submodule "forge"]
	path = forge
	url = https://git.xjboss.net/KC-RELOADED/MinecraftForge.git
	branch = 1.7.10
